<div class="panel-wrapper" [class.open]="panelOpen"  (click)="close()">
  <div class="panel"  (click)="$event.stopPropagation()">
    <div class="panel-header">
      <div class="panel-title-block">
        <h2>Work Order Details</h2>
        <p class="panel-subtitle">
          Specify the dates, name and status for this order.
        </p>
      </div>

      <div class="panel-actions">
        <button class="btn btn-secondary" (click)="close()">Cancel</button>
        <button class="btn btn-primary" (click)="submit()">
          {{ workOrderForm ? 'Save' : 'Create' }}
        </button>
      </div>
    </div>

    <form [formGroup]="form" class="panel-body">
      <div class="form-group">
        <label for="name">Work Order Name</label>
        <input
          id="name"
          formControlName="name"
          type="text"
          class="text-input"
          placeholder="Acme Inc."
        />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <ng-select
          formControlName="status"
          [items]="statusOptions"
          class="status-select"
          bindLabel=""
          bindValue=""
        >

          <!-- Selected value (colored pill) -->
          <ng-template ng-label-tmp let-item="item">
            <span class="status-pill" [class]="item">{{ item }}</span>
          </ng-template>

          <!-- Dropdown options (plain text) -->
          <ng-template ng-option-tmp let-item="item">
            <span class="status-option">{{ item }}</span>
          </ng-template>

        </ng-select>


      </div>

      <div class="form-row">
        <div class="form-group half">
          <label for="start">Start date</label>
          <input
            id="start"
            class="text-input"
            ngbDatepicker
            formControlName="start"
            #startDp="ngbDatepicker"
            (click)="startDp.toggle()"
            [placeholder]="todayPlaceholder"
          />
        </div>

        <div class="form-group half">
          <label for="end">End date</label>
          <input
            id="end"
            class="text-input"
            ngbDatepicker
            formControlName="end"
            #endDp="ngbDatepicker"
            (click)="endDp.toggle()"
            [placeholder]="nextWeekPlaceholder"
          />
        </div>
      </div>
    </form>
  </div>
</div>
