* {
  cursor: default !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
}
.typing-enabled {
  cursor: text !important;
  user-select: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
}

/* ============================================
   NAOLOGIC TOP BAR
============================================ */
.naologic-topbar {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.naologic-logo {
  height: 75px;      
  width: auto;
  display: block;
}


/* ============================================
   PAGE HEADER
============================================ */
.Page-header {
  display: flex;
  flex-direction: column;
  padding: 14px 20px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.Page-header h1 {
  font-size: 22px;
  font-weight: 600;
  color: rgba(3, 9, 41, 1);
  margin: 0;
}

/* ============================================
   MAIN CONTENT LAYOUT
============================================ */
.Main-content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 48px - 60px); /* topbar + header */
}

/* ============================================
   TIMESCALE DROPDOWN
============================================ */
.timescale-zoom-controls {
  display: flex;
  align-items: center;
}
.timescale-zoom-controls-label {
    background-color: rgba(241, 243, 248, 0.75);
    color: rgba(104, 113, 150, 1);
    font-family: CircularStd-Book;
    font-size: 13px;
    font-weight: 400;
    padding: 6px 12px;
    pointer-events: none;

}
.timescale-select {
  font-family: CircularStd-Medium;
  font-size: 13px;
  font-weight: 500;
  caret-color: transparent;
}


::ng-deep .timescale-select .ng-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  padding: 0 0 1px 0;
}

::ng-deep .timescale-select .ng-arrow-wrapper::after {
  content: "";
  width: 4px;
  height: 4px;
  border-right: 1px solid rgba(62, 64, 219, 1);
  border-bottom: 1px solid rgba(62, 64, 219, 1);
  transform: rotate(45deg); /* ▼ */
  display: block;
}


::ng-deep .timescale-select .ng-select-container {
  height: 28px;
  border-radius: 0 2px 7px 0;
  border : none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  gap: 5px;
}

/* Hover */
::ng-deep .timescale-select .ng-select-container:hover {
  border-color: #999;
  background: #f0f0f0;
}
::ng-deep .timescale-select .ng-value-label {
  color: rgba(62, 64, 219, 1);
}
::ng-deep .timescale-select .ng-option-selected {
   color: rgba(62, 64, 219, 1);
}
/* Dropdown panel */
::ng-deep .timescale-select .ng-dropdown-panel {
  width: 200px !important;
  height: 136px;
  border-radius: 5px;
  right: -52px;

}

/* Dropdown items */
::ng-deep .ng-dropdown-panel .ng-option {
  padding: 8px 12px;
  font-size: 14px;
}

::ng-deep .ng-dropdown-panel .ng-option:hover {
  background: #e6f2ff;
}
::ng-deep.ng-select .ng-clear-wrapper {
  display: none;
}
::ng-dee .ng-select .ng-value {
  color: rgba(62, 64, 219, 1);
}