<div class="timeline-container" [style.--cell-width.px]="getCellWidth()">

  <!-- LEFT COLUMN -->
  <div class="work-center-column">
    <div class = "work-center-label"> <h3>Work Center</h3></div>
    <ul>
      <li 
        *ngFor="let center of workCenters"
        [class.hovered]="selectedWorkCenterId === center.docId"
      >
        {{ center.data.name }}
      </li>
    </ul>
  </div>

  <!-- SCROLLABLE TIMELINE -->
  <div class="timeline-scroll" #scrollContainer>

    <!-- HEADER -->
    <div class="timeline-header">
      <div class="cell" *ngFor="let cell of visibleCells">
        {{ cell.label }}
      </div>

      <div class="current-month-pill" [ngStyle]="getCurrentMonthStyle()">
        Current month
      </div>
    </div>

    <!-- BODY -->
    <div class="timeline-body">
      <div class="timeline-row" *ngFor="let wc of workCenters">

        <!-- CELLS -->
        <div 
          class="cell"
          #cellEl
          *ngFor="let cell of visibleCells; let i = index"
          (mouseenter)="onCellHover(cell, i, wc, $event, cellEl)"
          
          (mouseleave)="onCellLeave()"
          (click)="onCellClick(cell, wc)"
        ></div>


        <!-- WORK ORDER BARS -->
        <app-work-order-bar
          *ngFor="let order of getWorkorderByCenterId(wc.docId)"
          [order]="order"
          [visibleCells]="visibleCells"
          [timescale]="timescale"
          (edit)="onBarEdit(order)"
          (delete)="onBarDelete(order)"
        ></app-work-order-bar>

      </div>
    </div>
    <!-- HOVER POPUP -->
    <div 
      class="cell-popup" 
      *ngIf="hoverPopup.visible"
      [style.top.px]="hoverPopup.y"
      [style.left.px]="hoverPopup.x"
    >
      Click to add dates
    </div>


  </div>
</div>
