<div class="timeline-container" [style.--cell-width.px]="getCellWidth()">
  <div class = "work-center-column">
    <h3>Work Center</h3>
    <ul>
      <li 
        *ngFor="let center of workCenters"
        [class.hovered]="selectedWorkCenterId === center.docId"
      >
        {{ center.data.name }}
      </li>
    </ul>
  </div>
  <div class="timeline-header">
    <div class="cell" *ngFor="let cell of visibleCells">{{ cell.label }}</div>
    <div class="current-month-pill" [ngStyle]="getCurrentMonthStyle()">
      Current month
    </div>
  </div>

  <div class="timeline-body">
    <div class="timeline-row" *ngFor="let wc of workCenters">
      <div 
        class="cell"
        *ngFor="let cell of visibleCells; let i = index"
        (mouseenter)="onCellHover(cell, i, wc)"
        (mouseleave)="onCellLeave()"
        (click)="onCellClick(cell, wc)"
      ></div>

      <div
        class="workorder-bar"
        [ngClass]="order.data.status"
        *ngFor="let order of getWorkorderByCenterId(wc.docId)"
        [ngStyle]="getBarStyle(order)"
      >
        <div class="bar-content">
          <span class="bar-title">{{ order.data.name }}</span>

          <span class="status-pill" [class]="order.data.status">
            {{ order.data.status }}
          </span>

          <div class="menu-wrapper" (click)="$event.stopPropagation()">
            <button
              class="menu-button"
              (click)="toggleMenu(order.docId)"
            >
              &#8230;
            </button>

            <div class="menu-dropdown" *ngIf="menuState[order.docId]">
              <div class="menu-item" (click)="onMenuEdit(order, $event)">Edit</div>
              <div class="menu-item delete" (click)="onMenuDelete(order, $event)">Delete</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
